@model jtf_Project.Data.Entities.Sale


<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("CreateEdit", "Sale", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)        
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div id="responseDiv"></div>
            <div class="form-group">
                <label for="RateId" class="col-md-2 control-label">Rate</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.RateId, Model.RateSelect, string.Empty, new { @class = "form-control chosen-select" })
                    @Html.ValidationMessageFor(m => m.RateId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label for="FuelCost" class="col-md-2 control-label">Fuel</label>
                <div class="col-md-10">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.FuelCost, new { @class = "form-control" })
                        <span class="input-group-addon">
                            <i class="fa fa-dollar"></i>
                        </span>
                    </div>
                    
                    @Html.ValidationMessageFor(m => m.FuelCost, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Date, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Date, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date" })
                    @Html.ValidationMessageFor(m => m.Date, "", new { @class = "text-danger" })
                </div>
            </div>
        }
    </div>
</div>